*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    }

@media screen and(min-width:812px){
    img,
    svg{
        height: 1947;
        width: 3461.33;}

        


    }
    
    @media screen and(min-width:1280){
        img,
        svg{
            width: 1920;
            height: 1080;}

    }

    img{
        position: fixed;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    svg{
        position: fixed;
        object-fit: cover;
    }
    
    h1{
        width: 100%;
        position: absolute;
        display: flex;
        z-index: 1;
        top: 5%;
        left: 10%;
        font-weight: 40px;
}

p{
    position: absolute;
    top: 10%;
    justify-content: center;
    width: 70%;
    left: 10%;
    font-weight: 14px;
}

#Group_59{
    position: absolute;
    top: 24%;
    left: 15%;
}

#Group_61{
    position: absolute;
    top: 42%;
    left: 15%;
}

#Group_62{
    position: absolute;
    top: 60%;
    left: 15%;
}

#Group_64{
    position: absolute;
    top: 78%;
    left: 15%;
}

.zadnje{
    position: absolute;
    top: 100%;
    left: 15%;
    width: 307.67;
    height: 572;
}

.header{
    display: flex;
    position: absolute;
    background: #fff;
    z-index: 1;
    width: 100%;
    height: 5%;

}

.meat > img{
    height: 35px;
    width: 35px;
    left: 10px;
    top: 2px;
    
   
}

.photo > img{
    height: 35px;
    width: 35px;
    left: 37%;
    top: 2px;
    
}

.bell > img{
    height: 35px;
    width: 35px;
    left: 75%;
    top: 2px;
    
}