* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #222730;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pravougaonik {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caab3;
  height: 50vh;
  width: 100vw;
}

.kvadrat {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caab3;
  height: 20vw;
  width: 20vw;
  border: 10vw solid;
  border-color: #222730;
  transform: rotate(45deg);
}

.krug {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #393e46;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}
