* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  background: #62306d;
}

.div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.div > div {
  background: #f7ec7d;
  height: 100px;
  width: 100px;
}

.div > div:nth-child(1) {
  justify-content: center;
  align-self: center;
  border-radius: 0 0 50px 50px;
  margin-top: 100px;
}

.div > div:nth-child(2) {
  justify-content: center;
  align-self: center;
  border-radius: 50% 50% 0 0;
  margin-bottom: 100px;
}

.div > div:nth-child(3) {
  justify-content: center;
  align-self: center;
  border-radius: 0 0 50px 50px;
  margin-top: 100px;
}
