* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Ultra-Regular;
  src: url(fonts/Ultra-Regular.ttf);
}

.wrapper > div {
  display: flex;
}

.wrapper > div > div {
  display: flex;
  height: 500px;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-family: Ultra-Regular;
  font-size: 50px;
  background: linear-gradient(
    rgb(131, 221, 224),
    rgb(153, 154, 219),
    rgb(238, 50, 197)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.wrapper > div > img {
  flex-wrap: wrap;
  object-fit: scale-down;
  display: flex;
  height: 500px;
  width: 50%;
  object-fit: scale-down;
  background-color: rgba(241, 192, 192, 0.863);
}



.wrapper > div:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
